/* Basic Styles for the registration page */
/* Add this to your style */
body {
    background-image: url('/Bank_Management_System/bank_img/back3.jpeg');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin-left: 25px;
}
label {
    color:#32cfee;
    font-weight: 600;
}


/* Heading Style */
h4 {
    text-align: center;
    color: #007bff;
}

/* Button Style */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #094380;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .form-control {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }
}
